{% extends "base.html" %}

{% block title %}Queue{% endblock %}

{% block content %}
<h1 class="mb-4">Song Queue</h1>
<ul class="list-group">
    {% for song in queue %}
        <li class="list-group-item">
            <audio controls class="w-100">
                <source src="{{ url_for('song_file', filename=song) }}" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>{{ song }}</p>
        </li>
    {% endfor %}
</ul>
<a class="btn btn-primary mt-4" href="{{ url_for('index') }}">Home</a>
{% endblock %}
